.chat-list-message {
  height: 48px;
  max-width: 30%;
  padding: 15px 16px;
  position: absolute;
  border-top: 1px solid var(--chakra-colors-chatlist-border);
  bottom: 0;
  left: 0;
  background-color: var(--chakra-colors-background-default);
  justify-content: center;
  align-items: center;
}