.welcome-form-view {
  width: 300px;
  height: 200px;
  background-color: var(--chakra-colors-background-default);
  padding: 50px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}