.chat-list-header {
  background-color: var(--chakra-colors-panel-header);
  height: 59px;
  padding: 10px 16px;
  align-items: center;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--chakra-colors-chatlist-header-avatar);
  }
}