.main-page-view {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &__top {
    flex-basis: 12vh;
    width: 100%;
    background-color: var(--chakra-colors-background-stripe);
  }

  &__main {
    margin: 0;
    width: 100%;
    flex-grow: 1;
    background-image: linear-gradient(var(--chakra-colors-background-main), var(--chakra-colors-background-deeper));
  }
}